<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmPsabiERmg4ojnCcir1blGMHjAJ36lF4</string>
	<key>GCM_SENDER_ID</key>
	<string>189715062354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arApps.pim</string>
	<key>PROJECT_ID</key>
	<string>sampl-work-00133</string>
	<key>STORAGE_BUCKET</key>
	<string>sampl-work-00133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189715062354:ios:0406425d514142c0a8098b</string>
</dict>
</plist>